@charset "UTF-8";
.jqx-layout-group-auto-hide-content-vertical
{
    width: 200px;
}
.menuDiv{
	
}
.contentDiv{
	margin-left: 20px;
}
.informationDiv{
	height: 40px;
	background-color: white;
	background-image: url("../image/notification_32.png");
	background-repeat: no-repeat;
	padding: 7px;
}